ipam:
  operator:
    clusterPoolIPv4PodCIDRList:
      - {{ .Values.k3s_cluster_cidr }}

operator:
  replicas: 1

encryption:
  enabled: true
  type: wireguard

hubble:
  relay:
    enabled: true
  ui:
    enabled: true
