apiVersion: v1
kind: Secret
metadata:
  name: sparkyfitness-secrets
stringData:
  api_encryption_key: {{ (fromYaml (readFile "values.enc.yaml")).sparkyfitness_api_encryption_key | quote }}
  better_auth_secret: {{ (fromYaml (readFile "values.enc.yaml")).sparkyfitness_better_auth_secret | quote }}
  oidc_client_id: {{ .Values.oidc.sparkyfitness_external.client_id | quote }}
  oidc_client_secret: {{ .Values.oidc.sparkyfitness_external.client_secret | quote }}
