resources:
{{- range tuple "pvc.yaml" "secret-sso.yaml.gotmpl" "secret-smtp.yaml.gotmpl" "deployment.yaml.gotmpl" "service.yaml" "ingressroute.yaml.gotmpl" "backup-schedule.yaml.gotmpl" }}
  - {{ tpl (readFile .) $ | fromYaml | toYaml | nindent 4 | trim }}
{{- end }}
