apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: windmill
spec:
  entryPoints:
    - websecure
  routes:
{{- range $variant, $v := .Values.apps.windmill }}
{{- if $v.dns_hostname }}
    - match: Host(`{{ $v.dns_hostname }}`)
      kind: Rule
      services:
        - name: windmill-app
          port: 8000
{{- end }}
{{- end }}
