{{- $secrets := fromYaml (readFile "values.enc.yaml") }}
apiVersion: v1
kind: Secret
metadata:
  name: windmill-database
stringData:
  url: postgres://windmill:{{ $secrets.windmill_postgres_password }}@windmill-postgres/windmill?sslmode=disable
