apiVersion: v1
kind: Secret
metadata:
  name: nextcloud-oidc
stringData:
  client_id: {{ .Values.oidc.filecloud_external.client_id | quote }}
  client_secret: {{ .Values.oidc.filecloud_external.client_secret | quote }}
  discovery_uri: "{{ .Values.oidc.filecloud_external.issuer }}.well-known/openid-configuration"
