apiVersion: apps/v1
kind: Deployment
metadata:
  name: nextcloud-whiteboard
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nextcloud-whiteboard
  template:
    metadata:
      labels:
        app: nextcloud-whiteboard
        app.kubernetes.io/name: nextcloud-whiteboard
    spec:
      containers:
        - name: whiteboard
          image: ghcr.io/nextcloud-releases/whiteboard:v2.0.0-beta.1
          env:
            - name: NEXTCLOUD_URL
              value: https://{{ .Values.apps.filecloud.external.dns_hostname }}
            - name: JWT_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: nextcloud-whiteboard
                  key: jwt_secret
          ports:
            - containerPort: 3002
          resources:
            requests:
              memory: 128Mi
            limits:
              memory: "512Mi"
