apiVersion: v1
kind: Secret
metadata:
  name: global-backup-credentials
stringData:
  access-key: {{ .Values.backup.s3_access_key | quote }}
  secret-key: {{ .Values.backup.s3_secret_key | quote }}
  repo-password: {{ .Values.backup.restic_password | quote }}
