apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: radarr
spec:
  entryPoints:
    - websecure
  routes:
{{- range $variant, $v := .Values.apps.radarr }}
{{- if $v.dns_hostname }}
    - match: Host(`{{ $v.dns_hostname }}`)
      kind: Rule
      services:
        - name: radarr
          port: 7878
      middlewares:
        - name: authentik-forward-auth-{{ eq $variant "internal" | ternary "local" "external" }}@file
{{- end }}
{{- end }}
