apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: librechat
spec:
  entryPoints:
    - websecure
  routes:
{{- range $variant, $v := .Values.apps.librechat }}
{{- if $v.dns_hostname }}
    - match: Host(`{{ $v.dns_hostname }}`)
      kind: Rule
      services:
        - name: librechat
          port: 3080
{{- if eq $v.type "forward-auth" }}
      middlewares:
        - name: authentik-forward-auth-{{ eq $variant "internal" | ternary "local" "external" }}@file
{{- end }}
{{- end }}
{{- end }}
