{{- $secrets := fromYaml (readFile "values.enc.yaml") }}
apiVersion: v1
kind: Secret
metadata:
  name: librechat-env
stringData:
  JWT_SECRET: {{ $secrets.jwt_secret | quote }}
  JWT_REFRESH_SECRET: {{ $secrets.jwt_refresh_secret | quote }}
  CREDS_KEY: {{ $secrets.creds_key | quote }}
  CREDS_IV: {{ $secrets.creds_iv | quote }}
  OPENID_SESSION_SECRET: {{ $secrets.openid_session_secret | quote }}
  OPENID_CLIENT_ID: {{ .Values.oidc.librechat_external.client_id | quote }}
  OPENID_CLIENT_SECRET: {{ .Values.oidc.librechat_external.client_secret | quote }}
  MEILI_MASTER_KEY: {{ $secrets.meili_master_key | quote }}
  LITELLM_API_KEY: {{ $secrets.litellm_api_key | quote }}
