apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: woodpecker
spec:
  entryPoints:
    - websecure
  routes:
{{- range $variant, $v := .Values.apps.ci }}
{{- if $v.dns_hostname }}
    - match: Host(`{{ $v.dns_hostname }}`)
      kind: Rule
      services:
        - name: woodpecker-server
          port: 80
{{- end }}
{{- end }}
