{{- $secrets := fromYaml (readFile "values.enc.yaml") }}
apiVersion: v1
kind: Secret
metadata:
  name: woodpecker-default-agent-secret
stringData:
  WOODPECKER_AGENT_SECRET: {{ $secrets.woodpecker_agent_secret | quote }}
