{{- $secrets := fromYaml (readFile "../values.enc.yaml") }}
apiVersion: v1
kind: Secret
metadata:
  name: woodpecker-secrets
stringData:
  WOODPECKER_GITHUB_CLIENT: {{ $secrets.woodpecker_github_client_id | trim | quote }}
  WOODPECKER_GITHUB_SECRET: {{ $secrets.woodpecker_github_client_secret | trim | quote }}
  WOODPECKER_AGENT_SECRET: {{ $secrets.woodpecker_agent_secret | quote }}
