{{- $secrets := fromYaml (readFile "values.enc.yaml") }}
apiVersion: v1
kind: Secret
metadata:
  name: nextcloud-mcp-ghcr
type: kubernetes.io/dockerconfigjson
stringData:
  .dockerconfigjson: {{ dict "auths" (dict "ghcr.io" (dict "auth" (printf "%s:%s" $secrets.ghcr_pull_username $secrets.ghcr_pull_token | b64enc))) | toJson | quote }}
