{{- $secrets := fromYaml (readFile "values.enc.yaml") }}
apiVersion: v1
kind: Secret
metadata:
  name: unpackerr-arr
stringData:
  UN_SONARR_0_API_KEY: {{ $secrets.arr.sonarr_api_key | quote }}
  UN_RADARR_0_API_KEY: {{ $secrets.arr.radarr_api_key | quote }}
