{{- $secrets := fromYaml (readFile "values.enc.yaml") }}
apiVersion: v1
kind: Secret
metadata:
  name: managerscript
stringData:
  QB_HOST: {{ $secrets.seedbox.qb_host | quote }}
  QB_USER: {{ $secrets.seedbox.username | quote }}
  QB_PASS: {{ $secrets.seedbox.qb_password | quote }}
  SSH_HOST: {{ $secrets.seedbox.ssh_host | quote }}
  SSH_USER: {{ $secrets.seedbox.username | quote }}
  SSH_PASSWORD: {{ $secrets.seedbox.ssh_password | quote }}
  DISCORD_WEBHOOK_URL: {{ $secrets.seedbox.discord_webhook_url | quote }}
