{{- $secrets := fromYaml (readFile "values.enc.yaml") }}
apiVersion: v1
kind: Secret
metadata:
  name: grimmory-db
stringData:
  MYSQL_PASSWORD: {{ $secrets.grimmory.db_password | quote }}
  MYSQL_ROOT_PASSWORD: {{ $secrets.grimmory.db_root_password | quote }}
  DATABASE_PASSWORD: {{ $secrets.grimmory.db_password | quote }}
