{{- $secrets := fromYaml (readFile "values.enc.yaml") }}
apiVersion: v1
kind: Secret
metadata:
  name: gluetun-vpn
stringData:
  WIREGUARD_PRIVATE_KEY: {{ $secrets.gluetun.WIREGUARD_PRIVATE_KEY | quote }}
  WIREGUARD_PRESHARED_KEY: {{ $secrets.gluetun.WIREGUARD_PRESHARED_KEY | quote }}
  WIREGUARD_ADDRESSES: {{ $secrets.gluetun.WIREGUARD_ADDRESSES | quote }}
