{{- $env := list (printf "AWS_ACCESS_KEY_ID=%s" .Values.backup.s3_access_key) (printf "AWS_SECRET_ACCESS_KEY=%s" .Values.backup.s3_secret_key) }}
{{- $repos := list }}
{{- range tuple "authentik" "immich" "kuma" "paperless" "pihole" "syncthing" "vaultwarden" }}
{{- $repos = append $repos (dict
      "id" .
      "uri" (printf "s3:%s/%s/%s" $.Values.backup.s3_endpoint $.Values.backup.s3_bucket .)
      "password" $.Values.backup.restic_password
      "env" $env
      "autoInitialize" false
      "checkPolicy" (dict
        "schedule" (dict "cron" "0 6 * * *")
        "structureOnly" true)) }}
{{- end }}


apiVersion: v1
kind: Secret
metadata:
  name: backrest-config-seed
stringData:
  # version 3: backrest migrates to current on first load, generating repo guids/identity
  config.json: |
    {
      "modno": 1,
      "version": 3,
      "instance": "backrest",
      "auth": { "disabled": true },
      "repos": {{ $repos | toJson }}
    }
