server:
  # the shared agent secret comes from our Secret instead
  createAgentSecret: false
  env:
    WOODPECKER_HOST: https://{{ .Values.apps.ci.external.dns_hostname }}
    WOODPECKER_ADMIN: cerfedino
    # nobody self-registers; repos are enabled by the admin
    WOODPECKER_OPEN: "false"
    WOODPECKER_GITHUB: "true"
  extraSecretNamesForEnvFrom:
    - woodpecker-secrets
    - woodpecker-default-agent-secret
  persistentVolume:
    enabled: true
    size: 10Gi
    storageClass: proxmox-data-zfs
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      memory: "512Mi"
      cpu: "1"

agent:
  replicaCount: 1
  env:
    WOODPECKER_SERVER: woodpecker-server:9000
    WOODPECKER_BACKEND: kubernetes
    WOODPECKER_BACKEND_K8S_NAMESPACE: woodpecker
    # for pipelines we use ephemeral storage such that after the pipeline we reclaim the PV immediately
    WOODPECKER_BACKEND_K8S_STORAGE_CLASS: proxmox-data-zfs-ephemeral
    # csi-proxmox volumes are RWO
    WOODPECKER_BACKEND_K8S_STORAGE_RWX: "false"
    WOODPECKER_BACKEND_K8S_VOLUME_SIZE: 10G
  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      memory: "256Mi"
      cpu: "500m"

additionalObjects:
{{- range $f := readDirEntries "extras" }}
{{- if not (hasPrefix "." $f.Name) }}
  - {{ tpl (readFile (printf "extras/%s" $f.Name)) $ | fromYaml | toYaml | nindent 4 | trim }}
{{- end }}
{{- end }}
