# Note to self: In order to have the actual LAN ip of a local client show up, I have to make sure that a traefik pod is guaranteed to run on the same node that is reached through the LAN kube-VIP, because otherwise kube-proxy would rewrite the source IP when forwarding the traffic to a node that has a traefik pod running. That's why we make Traefik a DaemonSet.

service:
  spec:
    type: LoadBalancer
    externalTrafficPolicy: Local
  annotations:
    # prettier-ignore
    kube-vip.io/loadbalancerIPs: {{ .Values.kube_vip_svc_address | quote }}
  additionalServices:
    cloudflared:
      type: ClusterIP

deployment:
  kind: DaemonSet
  # External dynamic traefik config
  additionalVolumes:
    - name: dynamic
      configMap:
        name: traefik-dynamic
        optional: true # don't block pod start while the CM doesn't exist yet

podDisruptionBudget:
  enabled: true
  minAvailable: 1

additionalVolumeMounts:
  - name: dynamic
    mountPath: /dynamic
    readOnly: true

providers:
  kubernetesCRD:
    enabled: true # IngressRoutes for in-cluster apps
  kubernetesIngress:
    enabled: false # not using plain Ingress objects
  kubernetesGateway:
    enabled: false # no Gateway API (IngressRoute only)

gateway:
  enabled: false
gatewayClass:
  enabled: false

# entrypoints
ports:
  web: null
  websecure: null
  lan-http:
    port: 80
    exposedPort: 80
    expose:
      default: true
    http:
      redirections:
        entryPoint:
          to: lan-https
          scheme: https
          permanent: true
  lan-https:
    port: 443
    exposedPort: 443
    expose:
      default: true
    http:
      tls:
        enabled: true
    transport:
      respondingTimeouts:
        readTimeout: 0
  cloudflared:
    port: 8444
    expose:
      default: false
      cloudflared: true
    http:
      tls:
        enabled: true
    forwardedHeaders:
      # trust any pod is fine because we are restricting it to just cloudflared with the traefik NetworkPolicy
      trustedIPs:
        - {{ .Values.k3s_cluster_cidr }}
    transport:
      respondingTimeouts:
        readTimeout: 0

ingressRoute:
  dashboard:
    enabled: true
    entryPoints:
      - lan-https
    matchRule: Host(`{{ .Values.apps.traefik.internal.dns_hostname }}`)
    middlewares:
{{- if eq .Values.apps.traefik.internal.type "forward-auth" }}
      - name: authentik-forward-auth-local@file
{{- end }}

tlsStore:
  default:
    defaultCertificate:
      secretName: wildcard-crfda-tls

tlsOptions:
  default:
    minVersion: VersionTLS12

additionalArguments:
  - "--providers.file.directory=/dynamic"
  - "--providers.file.watch=true"
  - "--log.level=WARN"
  - "--accesslog=true"

extraObjects:
{{- range $f := readDirEntries "extras" }}
{{- if not (hasPrefix "." $f.Name) }}
{{- range $doc := splitList "\n---\n" (tpl (readFile (printf "extras/%s" $f.Name)) $) }}
  - {{ $doc | fromYaml | toYaml | nindent 4 | trim }}
{{- end }}
{{- end }}
{{- end }}
