apiVersion: v1
kind: Secret
metadata:
  name: paperless-secrets
stringData:
  secret_key: {{ (fromYaml (readFile "../values.enc.yaml")).paperless_secret_key | quote }}
  socialaccount_providers: |
    {"openid_connect": {"APPS": [{"provider_id": "authentik", "name": "Authentik", "client_id": {{ .Values.oidc.paperless_external.client_id | quote }}, "secret": {{ .Values.oidc.paperless_external.client_secret | quote }}, "settings": {"server_url": "{{ .Values.oidc.paperless_external.issuer }}.well-known/openid-configuration"}}]}}
