{{- $secrets := fromYaml (readFile "values.enc.yaml") }}
apiVersion: v1
kind: Secret
metadata:
  name: litellm-secrets
stringData:
  LITELLM_MASTER_KEY: {{ $secrets.litellm_master_key | quote }}
  ANTHROPIC_API_KEY: {{ $secrets.anthropic_api_key | quote }}
