{{- $secrets := fromYaml (readFile "values.enc.yaml") }}
apiVersion: v1
kind: Secret
metadata:
  name: nextcloud-mcp-secrets
stringData:
  NEXTCLOUD_USERNAME: {{ $secrets.nextcloud_mcp_username | quote }}
  NEXTCLOUD_APP_TOKEN: {{ $secrets.nextcloud_mcp_app_token | quote }}
