apiVersion: v1
kind: Secret
metadata:
  name: tandoor-secrets
stringData:
  secret_key: {{ (fromYaml (readFile "values.enc.yaml")).tandoor_secret_key | quote }}
  fdc_api_key: {{ (fromYaml (readFile "values.enc.yaml")).tandoor_fdc_api_key | quote }}
  socialaccount_providers: |
    {"openid_connect": {"APPS": [{"provider_id": "authentik", "name": "Authentik", "client_id": {{ .Values.oidc.tandoor_external.client_id | quote }}, "secret": {{ .Values.oidc.tandoor_external.client_secret | quote }}, "settings": {"server_url": "{{ .Values.oidc.tandoor_external.issuer }}.well-known/openid-configuration"}}]}}
