authentik:
  log_level: "info"

  # This sends anonymous usage-data, stack traces on errors and performance data to authentik.error-reporting.a7k.io, and is fully opt-in
  error_reporting:
    enabled: false

  email:
    host: {{ .Values.smtp.host }}
    port: {{ .Values.smtp.port }}
    username: {{ .Values.smtp.username }}
    password: {{ .Values.smtp.password | quote }}
    from: {{ .Values.smtp.from }}
    use_tls: {{ eq .Values.smtp.security "starttls" }}
    use_ssl: {{ eq .Values.smtp.security "ssl" }}

server:
  replicas: 2
  pdb:
    enabled: true
    minAvailable: 1
  topologySpreadConstraints:
    - labelSelector:
        matchLabels:
          app.kubernetes.io/component: server
          app.kubernetes.io/instance: authentik
          app.kubernetes.io/name: authentik
      maxSkew: 1
      topologyKey: kubernetes.io/hostname
      whenUnsatisfiable: ScheduleAnyway
  ingress:
    enabled: false

postgresql:
  enabled: true
  primary:
    networkPolicy:
      enabled: false
    podAnnotations:
      k8up.io/backupcommand: sh -c 'PGPASSWORD="$(cat "$POSTGRES_PASSWORD_FILE")" pg_dumpall --clean -U "$POSTGRES_USER"'
      k8up.io/file-extension: .sql

additionalObjects:
{{- range $f := readDirEntries "extras" }}
{{- if not (hasPrefix "." $f.Name) }}
{{- range $doc := splitList "\n---\n" (tpl (readFile (printf "extras/%s" $f.Name)) $) }}
  - {{ $doc | fromYaml | toYaml | nindent 4 | trim }}
{{- end }}
{{- end }}
{{- end }}
