{{- $secrets := readFile "values.enc.yaml" | fromYaml }}

global:
  image:
    tag: 2026.5.5

authentik:
  bootstrap_email: {{ $secrets.authentik.bootstrap_email | quote }}
  bootstrap_token: {{ $secrets.authentik.bootstrap_token | quote }}
  bootstrap_password: {{ $secrets.authentik.bootstrap_password | quote }}


  log_level: "info"
  secret_key: {{ $secrets.authentik.secret_key | quote }}

  # This sends anonymous usage-data, stack traces on errors and performance data to authentik.error-reporting.a7k.io, and is fully opt-in
  error_reporting:
    enabled: false

  postgresql:
    password: {{ $secrets.postgresql.password | quote }}

server:
  ingress:
    enabled: false

postgresql:
  enabled: true
  auth:
    password: {{ $secrets.postgresql.password | quote }}
