apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: cloudflare-tunnel
  name: cloudflared-deployment
  namespace: cloudflare-tunnel
spec:
  replicas: 3
  selector:
    matchLabels:
      pod: cloudflare-tunnel
  template:
    metadata:
      labels:
        pod: cloudflare-tunnel
    spec:
      topologySpreadConstraints:
        - labelSelector:
            matchLabels:
              pod: cloudflare-tunnel
          maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: ScheduleAnyway
      containers:
        - command:
            - cloudflared
            - tunnel
            - --metrics
            - 0.0.0.0:2000
            - run
          image: cloudflare/cloudflared:2026.10.0
          name: cloudflare-tunnel
          env:
            - name: TUNNEL_TOKEN
              valueFrom:
                secretKeyRef:
                  name: cloudflare-tunnel-token
                  key: TUNNEL_TOKEN
          resources:
            requests:
              memory: 64Mi
          livenessProbe:
            httpGet:
              path: /ready
              port: 2000
            failureThreshold: 1
            initialDelaySeconds: 10
            periodSeconds: 10
