apiVersion: v1
kind: ConfigMap
metadata:
  name: traefik-dynamic
  namespace: traefik
data:
  external-hosts.yaml: |
    http:
      serversTransports:
        insecure-backends:
          insecureSkipVerify: true

      middlewares:
        my-cloudflarewarp:
          plugin:
            cloudflarewarp:
              disableDefault: false
        https-redirect:
          redirectScheme:
            scheme: https
            permanent: true

        authentik-forward-auth-local:
          forwardAuth:
            # Forward to the Authentik outpost specifically responsible for applications exposed to the local network
            address: http://authentik-server.authentik.svc.cluster.local/outpost.goauthentik.io/auth/traefik
            trustForwardHeader: true
            authResponseHeaders: &authentikResponseHeaders
              - X-authentik-username
              - X-authentik-groups
              - X-authentik-entitlements
              - X-authentik-email
              - X-authentik-name
              - X-authentik-uid
              - X-authentik-jwt
              - X-authentik-meta-jwks
              - X-authentik-meta-outpost
              - X-authentik-meta-provider
              - X-authentik-meta-app
              - X-authentik-meta-version
        authentik-forward-auth-external:
          forwardAuth:
            # Forward to the Authentik outpost specifically responsible for applications exposed to the open internet
            address: http://ak-outpost-external.authentik.svc.cluster.local:9000/outpost.goauthentik.io/auth/traefik
            trustForwardHeader: true
            authResponseHeaders: *authentikResponseHeaders

      routers:
        # Catch-all on the plain-HTTP entrypoint: everything redirects to TLS
        http-catchall:
          rule: PathPrefix(`/`)
          entryPoints:
            - web
          priority: 1
          middlewares:
            - https-redirect
          service: noop@internal

        pve1:
          rule: Host(`{{ .Values.apps.pve1.internal.dns_hostname }}`)
          entryPoints:
            - websecure
          middlewares:
            - authentik-forward-auth-local
          service: pve1
        pbs1:
          rule: Host(`{{ .Values.apps.pbs1.internal.dns_hostname }}`)
          entryPoints:
            - websecure
          middlewares:
            - authentik-forward-auth-local
          service: pbs1
        haos:
          rule: Host(`{{ .Values.apps.haos.external.dns_hostname }}`)
          entryPoints:
            - websecure
          service: haos

      services:
        pve1:
          loadBalancer:
            serversTransport: insecure-backends
            servers:
              - url: "https://{{ .Values.machines.pve1.fqdn_internal }}:8006"
        pbs1:
          loadBalancer:
            serversTransport: insecure-backends
            servers:
              - url: "https://sylvester-pbs1.proxmox-internal.{{ .Values.domain }}:8007"
        haos:
          loadBalancer:
            servers:
              - url: "http://{{ .Values.machines.haos.fqdn_internal }}:8123"
