apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: namespace-ingress
  namespace: traefik
spec:
  podSelector: {}
  policyTypes:
    - Ingress
  ingress:
    # Same namespace
    - from:
        - podSelector: {}

    # lan-http and lan-https entrypoints: LAN clients, plus kuma's monitors of the internal hostnames
    - from:
        - ipBlock:
            cidr: {{ .Values.network_lan_cidr }}
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: kuma
      ports:
        - port: 80
        - port: 443

    # For the clouflared entrypoint, only cloudflared can talk to it because we trust its CF headers for the real IP
    - from:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: cloudflare-tunnel
      ports:
        - port: 8444
