apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: shortener
spec:
  entryPoints:
    - websecure
  routes:
{{- range $variant, $v := .Values.apps.shortener }}
{{- if $v.dns_hostname }}
    - match: Host(`{{ $v.dns_hostname }}`)
      kind: Rule
      services:
        - name: shortener
          port: 4567
{{- end }}
{{- end }}
