{{- $secrets := fromYaml (readFile "values.enc.yaml") }}
apiVersion: v1
kind: Secret
metadata:
  name: shortener
stringData:
  password: {{ $secrets.chhoto_password | quote }}
  api_key: {{ $secrets.chhoto_api_key | quote }}
